<div class="dataTables_paginate paging_simple_numbers" id="crancy-table__main_paginate">
    <ul class="pagination">
        <li class="paginate_button page-item previous <% if (!hasPreviousPage) { %>
            disabled
        <% } %>" id="crancy-table__main_previous">
            <a href="<% if (hasPreviousPage) { %>
                ?itemsPerPage=<%= results %>&page=<%= previousPage %>
            <% } %>" aria-controls="crancy-table__main" data-dt-idx="previous" tabindex="0" class="page-link">
                <i class="fas fa-angle-left"></i>
            </a>
        </li>
        
        <% 
        let count = lowerPage;
        while (count <= upperPage) { %>
        <li class="paginate_button page-item <% if (count === currentPage) { %>active<% } %>">
            <a href="?itemsPerPage=<%= results %>&page=<%= count %>" aria-controls="crancy-table__main" data-dt-idx="0" tabindex="0" class="page-link"><%= count %></a>
        </li>
        <% count++
        } %>

        <li class="paginate_button page-item next <% if (!hasNextPage) { %>
            disabled
        <% } %>" id="crancy-table__main_next">
            <a href="<% if (hasNextPage) { %>
                ?itemsPerPage=<%= results %>&page=<%= nextPage %>
            <% } %>" aria-controls="crancy-table__main" data-dt-idx="next" tabindex="0" class="page-link">
                <i class="fas fa-angle-right"></i>
            </a>
        </li>
    </ul>
</div>