<%- include('../includes/head.ejs') %>
<body>
    <%- include('../includes/navigation.ejs') %>

    	<!-- crancy Dashboard -->
		<section class="crancy-adashboard crancy-show">
			<div class="container">
				<div class="row">
					<div class="col-12 mg-top-30">
						<!-- BreadCrumb -->
						<div class="crancy-pbreadcrumb">
							<h4 class="crancy-sidebar__title">Add Merchant</h4>
							<ul class="crancy-pbreadcrumb__list">
								<li><a href="/">Home</a></li>
								<li><a href="/merchants">Merchants</a></li>
								<li class="active"><a href="/merchants/add">Add Merchant</a></li>
							</ul>
						</div>
						<!-- End BreadCrumb -->
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<!-- Dashboard Inner -->
						<div class="row">
							<div class="col-12 mg-top-30">
								<form action="/merchants/<% if (editing) { %>edit-product<% } else { %>add-product<% } %>" method="POST" enctype="multipart/form-data">
									<div class="row">
										<div class="col-12">
											<div class="crancy__item-group mg-top-30">
												<h4 class="crancy__item-group__title">Merchant Details</h4>
												<% if (hasError) { %>
													<div class="crancy-table__status crancy-table__status--cancel mg-top-20">
														<% for (let error of errorMessage) { %>
															<%= error.msg %><br>
														<% } %>
													</div>
												<% } %>
												<div class="crancy__item-form--group">
													<div class="row">
														<div class="col-lg-6 col-12">
															<div class="crancy__item-form--group mg-top-form-20">
																<label class="crancy__item-label required">Merchant Name</label>
																<input class="crancy__item-input" type="text" name="merchantName" id="merchantName" value="<% if (editing || hasError) { %><%= merchant.merchantName %><% } %>">
															</div>
														</div>
														<div class="col-lg-6 col-12">
															<div class="crancy__item-form--group mg-top-form-20">
																<label class="crancy__item-label">Trading Name </label>
																<input class="crancy__item-input" type="text" name="tradingName" id="tradingName" value="<% if (editing || hasError) { %><%= merchant.tradingName %><% } %>">
															</div>
														</div>
													</div>
												</div>
												<div class="crancy__item-form--group mg-top-form-20">
													<label class="crancy__item-label required">Invoice/Contact Email Address</label>
													<input class="crancy__item-input" type="email" name="genericEmail" id="genericEmail" value="<% if (editing || hasError) { %><%= merchant.genericEmail %><% } %>">
												</div>
												<div class="crancy__item-form--group mg-top-form-20">
													<label class="crancy__item-label required">Phone Number</label>
													<input class="crancy__item-input" type="text" name="phoneNumber" id="phoneNumber" value="<% if (editing || hasError) { %><%= merchant.phoneNumber %><% } %>">
												</div>
												<div class="crancy__item-form--group">
													<div class="row">
														<div class="col-lg-6 col-12">
															<div class="crancy__item-form--group mg-top-form-20">
																<label class="crancy__item-label required">Address Line 1</label>
																<input class="crancy__item-input" type="text" name="address1" id="address1" value="<% if (editing || hasError) { %><%= merchant.address1 %><% } %>">
															</div>
														</div>
														<div class="col-lg-6 col-12">
															<div class="crancy__item-form--group mg-top-form-20">
																<label class="crancy__item-label">Address Line 2</label>
																<input class="crancy__item-input" type="text" type="text" name="address2" id="address2" value="<% if (editing || hasError) { %><%= merchant.address2 %><% } %>">
															</div>
														</div>
													</div>
												</div>
												<div class="crancy__item-form--group">
													<div class="row">
														<div class="col-lg-6 col-12">
															<div class="crancy__item-form--group mg-top-form-20">
																<label class="crancy__item-label required">Suburb</label>
																<input class="crancy__item-input" type="text" name="suburb" id="suburb" value="<% if (editing || hasError) { %><%= merchant.suburb %><% } %>">
															</div>
														</div>
														<div class="col-lg-6 col-12">
															<div class="crancy__item-form--group mg-top-form-20">
																<label class="crancy__item-label required">Postcode</label>
																<input class="crancy__item-input" type="text" name="postcode" id="postcode" value="<% if (editing || hasError) { %><%= merchant.postcode %><% } %>">
															</div>
														</div>
													</div>
												</div>
												<div class="crancy__item-form--group">
													<div class="row">
														<div class="col-lg-6 col-12">
															<div class="crancy__item-form--group mg-top-form-20">
																<label class="crancy__item-label required">Country</label>
																<select class="form-select crancy__item-input country-select" name="country" id="country">
																	<% for (let country of countries) { %>
																		<option value="<%= country._id %>" <% if (country._id.toString() === merchant.country) { %>
																			 selected 
																			 <% } %>><%= country.name %> </option>
																	<% } %>
																</select>
															</div>
														</div>
														<div class="col-lg-6 col-12">
															<div class="crancy__item-form--group mg-top-form-20">
																<label class="crancy__item-label required">State </label>
																<select class="form-select crancy__item-input" name="state" id="state">
																	<% for (let state of states) { %>
																		<option value="<%= state._id %>" <% if ((editing || hasError) && state._id.toString() === merchant.state) { %>
																			selected
																		<% } %>><%= state.name %> </option>
																	<% } %>
																</select>
															</div>
														</div>
													</div>
												</div>
												<div class="crancy__item-form--group">
													<div class="row">
														<div class="col-lg-6 col-12">
															<div class="crancy__item-form--group mg-top-form-20">
																<label class="crancy__item-label required">ABN</label>
																<input class="crancy__item-input" type="text" name="abn" id="abn" value="<% if (editing || hasError) { %><%= merchant.abn %><% } %>">
															</div>
														</div>
														<div class="col-lg-6 col-12">
															<div class="crancy__item-form--group mg-top-form-20">
																<label class="crancy__item-label required">ACN</label>
																<input class="crancy__item-input" type="text" name="acn" id="acn" value="<% if (editing || hasError) { %><%= merchant.acn %><% } %>">
															</div>
														</div>
													</div>
												</div>
												<div class="crancy__item-form--group  mg-top-form-20">
												</div>
											</div>
										</div>
										<div class="col-12">
											<div class="crancy__item-group mg-top-30">
												<h4 class="crancy__item-group__title">Merchant Profile</h4>
												<div class="crancy__item-form--group">
													<div class="crancy__item-form--group">
														<div class="row">
															<div class="col-lg-6 col-12">
																<div class="crancy__item-form--group mg-top-form-20">
																	<label class="crancy__item-label required">Merchant Category</label>
																	<select class="form-select crancy__item-input" name="merchantType" id="merchantType">
																		<% for (let merchantType of merchantTypes) { %>
																			<option value="<%= merchantType._id %>" <% if ((editing || hasError) && merchantType._id.toString() === merchant.merchantType) { %>
																				selected
																			<% } %>><%= merchantType.name %> </option>
																		<% } %>
																	</select>
																</div>
															</div>
															<div class="col-lg-6 col-12">
																<div class="crancy__item-form--group mg-top-form-20">
																	<label class="crancy__item-label required">eCom Type </label>
																	<select class="form-select crancy__item-input" name="eComType" id="eComType">
																		<% for (let ecomType of ecomTypes) { %>
																			<option value="<%= ecomType._id %>" <% if ((editing || hasError) && ecomType._id.toString() === merchant.ecomType) { %>
																				selected
																			<% } %>><%= ecomType.name %> </option>
																		<% } %>
																	</select>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="row">
													<div class="col-lg-6 col-12">
														<div class="crancy-ptabs__ssingle crancy-ptabs__srofile mg-top-form-20">
															<div class="crancy-ptabs__sheading">
																<h4 class="crancy-ptabs__stitle">Company Logo </h4>
																<p class="crancy-ptabs__stext">Logo of at least size <b>300px x300px.</b><br><b>Max 5mb.</b></p>
															</div>
														</div>
													</div>
													<div class="crancy-ptabs__sauthor">
														<div class="crancy-ptabs__sauthor-img crancy-ptabs__pthumb">
															<img src="/img/logoplaceholder.png" alt="#" id="logoPreview">
															<label class="crancy-ptabs__sedit" for="file-input">
																<span>
																	<svg viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
																		<path d="M16.5147 11.5C17.7284 12.7137 18.9234 13.9087 20.1296 15.115C19.9798 15.2611 19.8187 15.4109 19.6651 15.5683C17.4699 17.7635 15.271 19.9587 13.0758 22.1539C12.9334 22.2962 12.7948 22.4386 12.6524 22.5735C12.6187 22.6034 12.5663 22.6296 12.5213 22.6296C11.3788 22.6334 10.2362 22.6297 9.09365 22.6334C9.01498 22.6334 9 22.6034 9 22.536C9 21.4009 9 20.2621 9.00375 19.1271C9.00375 19.0746 9.02997 19.0109 9.06368 18.9772C10.4123 17.6249 11.7609 16.2763 13.1095 14.9277C14.2295 13.8076 15.3459 12.6913 16.466 11.5712C16.4884 11.5487 16.4997 11.5187 16.5147 11.5Z" fill="white">
																		</path>
																		<path d="M20.9499 14.2904C19.7436 13.0842 18.5449 11.8854 17.3499 10.6904C17.5634 10.4694 17.7844 10.2446 18.0054 10.0199C18.2639 9.76139 18.5261 9.50291 18.7884 9.24443C19.118 8.91852 19.5713 8.91852 19.8972 9.24443C20.7251 10.0611 21.5492 10.8815 22.3771 11.6981C22.6993 12.0165 22.7105 12.4698 22.3996 12.792C21.9238 13.2865 21.4443 13.7772 20.9686 14.2717C20.9648 14.2792 20.9536 14.2867 20.9499 14.2904Z" fill="white">
																		</path>
																	</svg>
																</span>
															</label>
															<input id="file-input" type="file" name="logo">
														</div>
													</div>
												</div>
												<div class="crancy__item-form--group  mg-top-form-20">
												</div>
											</div>
										</div>
										<div class="col-12">
											<div class="crancy__item-group mg-top-30">
												<h4 class="crancy__item-group__title">Primary Contact</h4>
												<div class="crancy__item-form--group">
													<div class="row">
														<div class="col-lg-6 col-12">
															<div class="crancy__item-form--group mg-top-form-20">
																<label class="crancy__item-label required">First Name</label>
																<input class="crancy__item-input" type="text" name="firstName" id="firstName" value="<% if (editing || hasError) { %><%= merchant.primaryContact.firstName %><% } %>">
															</div>
														</div>
														<div class="col-lg-6 col-12">
															<div class="crancy__item-form--group mg-top-form-20">
																<label class="crancy__item-label required">Last Name</label>
																<input class="crancy__item-input" type="text" name="lastName" id="lastName" value="<% if (editing || hasError) { %><%= merchant.primaryContact.lastName %><% } %>">
															</div>
														</div>
													</div>
												</div>
												<div class="crancy__item-form--group mg-top-form-20">
													<label class="crancy__item-label required">Email Address</label>
													<input class="crancy__item-input" type="email" name="userEmail" id="userEmail" value="<% if (editing || hasError) { %><%= merchant.primaryContact.email %><% } %>">
												</div>
												<div class="crancy__item-form--group mg-top-form-20">
													<label class="crancy__item-label required">Phone Number</label>
													<input class="crancy__item-input" type="text" name="userPhoneNumber" id="userPhoneNumber" value="<% if (editing || hasError) { %><%= merchant.primaryContact.phoneNumber %><% } %>">
												</div>
												<div class="crancy__item-form--group  mg-top-form-20">
												</div>
											</div>
										</div>
										<div class="crancy__item-button--group crancy__item-button--group--fix crancy__ptabs-bottom">
											<button class="crancy-btn crancy-btn__nostyle crancy-color4 p-0" type="submit" name="action" id="action" value="cancel">Cancel</button>
											<button class="crancy-btn crancy-color8__bg" type="submit" name="action" id="action" value="submit">
												<svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
													<path d="M6.95037 13.9996C6.35389 13.9778 5.84216 13.5247 5.79077 12.9295C5.75578 12.5223 5.76999 12.1102 5.76944 11.7003C5.76726 10.5618 5.7689 9.42333 5.7689 8.23184C5.62565 8.23184 5.51904 8.23184 5.41243 8.23184C4.04562 8.23184 2.67826 8.23676 1.31144 8.22965C0.515412 8.22528 -0.0324072 7.67381 0.00148975 6.93596C0.0282793 6.35169 0.476594 5.86143 1.05776 5.78819C1.1928 5.77125 1.33058 5.76961 1.46671 5.76906C2.77886 5.76797 4.09154 5.76852 5.40368 5.76852C5.51084 5.76852 5.61855 5.76852 5.7689 5.76852C5.7689 5.63625 5.7689 5.53077 5.7689 5.42528C5.7689 4.05835 5.76507 2.69141 5.77054 1.32448C5.77382 0.535255 6.29867 -0.0113003 7.02309 0.000177399C7.63159 0.0100154 8.15645 0.464749 8.20893 1.07088C8.24447 1.47806 8.22971 1.89016 8.2308 2.30008C8.23299 3.43855 8.23135 4.57703 8.23135 5.75376C8.35163 5.75922 8.45605 5.76797 8.56048 5.76797C9.93659 5.76906 11.3127 5.7636 12.6888 5.7707C13.4641 5.77453 14.0042 6.29485 13.9999 7.00865C13.996 7.62954 13.534 8.14603 12.9162 8.2149C12.7899 8.22911 12.6615 8.23075 12.5341 8.23075C11.2219 8.23184 9.90925 8.23129 8.59711 8.23129C8.4894 8.23129 8.38225 8.23129 8.23135 8.23129C8.23135 8.36356 8.23135 8.4685 8.23135 8.57398C8.23135 9.94092 8.23572 11.3078 8.22916 12.6748C8.22588 13.4777 7.68736 14.0264 6.95037 13.9996Z"></path>
												</svg>
												Add Merchant
											</button>
										</div>
									</div>
								</form>
							</div>
						</div>
						<!-- End Dashboard Inner -->
					</div>
				</div>
			</div>
		</section>
		<!-- End crancy Dashboard -->
	</div>

    <%- include('../includes/end.ejs') %>
	<script src="/js/state.js"></script>
	<script src="/js/image.js"></script>

</body>

</html>